@import "compass/css3";
@import "settings";
@import "foundation";
@import "typography";
@import "header";
@import "execs";
@import "orbit";
@import "helper";
@import "social";
@import "event";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

body {
    font-family: "Lato", sans-serif;
}

.logo {
    height: 45px;
    width: auto;
    position: relative;
    top: 10px;
}

.outline {
    background-color: transparent !important;
    border-color: #fff !important;
    transition: background-color 300ms ease-out !important;
}

.outline:hover {
    border-color: $primary-color !important;
    background-color: $primary-color !important; 
    color: #fff !important;
}

.pre-footer {
    background-color: #dadada;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

footer {
    background-color:#bfbfbf;   
    padding-bottom: 10px;
    font-size: 0.8rem;
    color: #555452;
}

.snapchat {
    position: relative;
    top: -1px;
}