* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.event-bg {
    background: url(../images/event.png) no-repeat center center;
    @include background-size(cover);   
}


.event {
    position: relative;
    padding: 40px;
    margin-bottom: 50px;
    color: white;
}


.event .icon {
    font-size: 2.4rem;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 40px;
}

.event .info {
    font-weight: 300;
    display: inline-block;
    text-transform: uppercase;
    max-width: 175px;   
    position: relative;
    top: 5px;
}


.overlay:before {
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(51, 51, 51, 0.5);
}

.event img {
    margin-bottom: 50px;   
}

.event a:not(.button) {
    color: white;
    font-size: 0.8rem;
    text-transform: lowercase !important;
}