.hero {
    background: url(../images/Initial-Background.png) no-repeat center center fixed;
    @include background-size(cover);
    height: 100%;
    width: 100%;
}

.about {
    background: url(../images/about.png) no-repeat center 50%;
    @include background-size(cover);
    padding: 55px 30px 80px 30px;
}


.hero-content-container {
    position: relative;
    display: table;
    overflow: hidden;
    width: 100%;
    height: 87%;
}

.hero-content {
    display: table-cell;
    vertical-align: middle; 
}

.spacer {
    height: 0px;
}

@media only screen and (max-width: 40em) { 
    .spacer {
        height: 30px;   
    }   
    .name {
        padding-left: 10px;   
    }
} 

.down {
    position: absolute;
    bottom: 50px;
    left:0;
    right:0;
    text-align: center;
}


.down .rotate {
    @include transform(rotate(270deg) scale(1, 2));
    display: inline-block;
}

.down a {
    color: rgba(255, 255, 255, 0.31);
    font: 100 35px "Lato";
}

.contain-to-grid, .top-bar {
    background: none !important;   
}

.fixed {
    background: #333 !important;   
}

.top-bar .button {
    padding-right: 1.2rem !important; 
    padding-left: 1.2rem !important;
    padding-top: 0.3rem !important;   
}


.sponsors {
    padding-top: 35px;
}

.sponsor img {
    max-height: 43px;
    width: auto;
    @include filter(grayscale(100%) opacity(40%));
    transition: 300ms ease-out !important;
}

.sponsor img:hover {
    @include filter(grayscale(0%) opacity(100%));
}