.margin-bottom {
    margin-bottom: 30px;
}  

.div-spacer {
    margin-bottom: 65px;   
}

@media only screen and (max-width: 40em) { 
    .margin-bottom-for-small {
        margin-bottom: 30px;
    }   
}