.social {
    background-color: #333;
    color: white;
    padding-top: 40px;
    transition: background-color 700ms ease-out;
}   

.social .tabs a {
    color: #5d5d5d;
    font-size: 2.2rem;
    margin-left: 30px;
    transition: color 300ms ease-out;
}

.social .tabs a:hover {
    color: #ccc;
}

.blue .tabs a {
    color: scale-color($primary-color, $lightness: -30%);
}

.blue .tabs a:hover {
    color: $primary-color;
}

.social .tabs {
    margin-bottom: 15px !important;
}

.blue {
    background-color: scale-color($primary-color, $lightness: -50%);
}

#twitter ul {
    min-height: 170px;   
}

@media only screen and (max-width: 40em) { 
    #twitter-feed{
        .account {
            font-size: 1rem;
        }
    
        p {
            font-size: 0.8rem;   
        }

        .meta {
            font-size: 0.8rem;    
        }

        ul {
            min-height: 250px;   
        }
    }
}


#twitter-feed {
    margin-bottom: 30px;   
    
    a {
        color: scale-color($primary-color, $lightness: 25%);   
    }
    
    p {
        margin-bottom: 15px;   
        font-size: 1.2rem;   
        font-weight: 300;
    }
    
    .account {
        font-weight: 400;
        font-size: 1.4rem;
        color: white;
        text-transform: lowercase !important;
    }

    .orbit-container {
        margin-top: 10px;   
    }

    .meta {
        font-size: 1rem;   
        font-weight: 300;  
        
        a {
            margin-left: 7px;   
            
            &:first-of-type {
                margin-left: 20px;   
            }
        }
    }
}