/* line 1, ../scss/orbit.scss */
.testimonial {
  font-weight: 300;
  font-size: 1.15rem;
  color: #6c6c6c;
}

/* line 8, ../scss/orbit.scss */
.testimonial .name {
  margin-top: 40px;
  font-style: italic;
  font-size: 0.8rem;
  color: #8c8c8c;
  font-weight: 300;
  text-align: right;
  margin-right: 60px;
}

/* line 18, ../scss/orbit.scss */
.testimonial .name span {
  font-size: 1rem;
  color: #565656;
  font-style: normal;
  font-weight: 600;
  color: #565656;
}
