/*
Error: Undefined variable: "$primary-color".
        on line 32 of c:/Users/Paul/Dev/Projects/big-website/scss/typography.scss

27: }
28: 
29: .thin-underline {
30:     padding-bottom: 7px;
31:     margin-bottom: 7px;
32:     border-bottom: 2px solid scale-color($primary-color, $lightness: 50%);
33:     width: 100px;
34: }
35: 
36: .underline {
37:     border-bottom: 5px solid $primary-color;

Backtrace:
c:/Users/Paul/Dev/Projects/big-website/scss/typography.scss:32
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/variable.rb:49:in `_perform'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/node.rb:50:in `perform'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/funcall.rb:170:in `perform_arg'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/funcall.rb:124:in `each'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/funcall.rb:124:in `each_with_index'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/funcall.rb:124:in `each'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/funcall.rb:124:in `map'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/funcall.rb:124:in `_perform'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/node.rb:50:in `perform'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/list_literal.rb:62:in `block in _perform'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/list_literal.rb:62:in `map'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/list_literal.rb:62:in `_perform'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/tree/node.rb:50:in `perform'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:430:in `map'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `map'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `visit_children'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `block in visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:157:in `visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:8:in `visit'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/root_node.rb:36:in `css_tree'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/root_node.rb:20:in `render'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:268:in `render'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `each'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:328:in `block in watch'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/vendor/listen/lib/listen/listener.rb:252:in `call'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/vendor/listen/lib/listen/listener.rb:252:in `on_change'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
c:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.10/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$primary-color\".\A         on line 32 of c:/Users/Paul/Dev/Projects/big-website/scss/typography.scss\A \A 27: }\A 28: \A 29: .thin-underline {\A 30:     padding-bottom: 7px;\A 31:     margin-bottom: 7px;\A 32:     border-bottom: 2px solid scale-color($primary-color, $lightness: 50%);\A 33:     width: 100px;\A 34: }\A 35: \A 36: .underline {\A 37:     border-bottom: 5px solid $primary-color;"; }
