/* line 1, ../scss/helper.scss */
.margin-bottom {
  margin-bottom: 30px;
}

/* line 5, ../scss/helper.scss */
.div-spacer {
  margin-bottom: 65px;
}

@media only screen and (max-width: 40em) {
  /* line 10, ../scss/helper.scss */
  .margin-bottom-for-small {
    margin-bottom: 30px;
  }
}
