.exec {
    margin: 0 5px 35px 5px;   
    display: inline-block;
    width: 170px;
    
}

.exec:hover {
    img {
        @include box-shadow(rgba(54, 54, 54, 0.7) 0px 0px 20px);
    }
}
.exec img {
    border: 1px;
    border-radius: 99px;
    width: 85px;
    height: auto;
    transition: 300ms ease-out;
}

.exec h5 {
    margin-bottom: 0 !important;
    line-height: 1.1;
}

.exec {
    color: rgb(172, 172, 172);   
}

@media only screen and (max-width: 40em) { 
    .exec img {
        width: 65px;
        height: auto;
    }
    
    .exec {
        width: 150px;
    }
}