a {
    text-transform: uppercase !important;
}   

.uppercase {
    text-transform: uppercase;
}   

.thin {
    font-weight: 100;   
}

.light {
    font-weight: 300;
}

.muted {
    color: #9d9b9b;   
}

.white {
    color: white !important;
}

span {
    font-weight: 600;
}

.thin-underline {
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 2px solid scale-color($primary-color, $lightness: 50%);
    width: 100px;
}

.underline {
    border-bottom: 5px solid $primary-color;
    display:inline-block;
    margin-bottom: 40px;
}


.stat {
    font-size: 2.18rem;
    color: #6b6a6a;
    line-height: 2.2;    
}